.series-title {
    width: max-content;
    background: #4D0053;
    color: #fff;
    line-height: 30px;
    padding: 2px 10px;
    position: relative;
    letter-spacing: 1px;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
